<div class="row">
	<div class="col-md-3">
		<ul class="category-menu">
			<li ng-repeat="category in categories">	
			<a href="#category/{{category.categoryid}}">
				{{category.name}}
			</a>
			</li>
		</ul>
	</div>
	<div class="col-md-9">
		<div ng-repeat="product in products">
			<div class="row" style="margin-bottom:40px;margin-top:40px;">
				<div class="col-md-4">
					<img src="http://gadgetworld.000webhostapp.com/images/{{product.images[0].url}}" style="height:100px;width:100px">
				</div>
				<div class="col-md-8">
					<h1><a href="#product/{{product.productid}}">{{product.name}}</a></h1>
					<p>{{product.price}}</p>
				</div>
			</div>
		</div>
	</div>
</div>