{% extends 'base.html' %}
{% load static %}

{% block 'main' %}

<section class="content">
<div class="container">
<div class="row">
<div class="col-lg-8 col-lg-offset-2 col-md-offset-2 col-md-8 breadcrumb">
</div>
</div>
</div>


<div class="container">
<div class="row">
<div class="col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2">



<!-- POST -->
<div class="post">
<form action="#" class="form newtopic" method="post">
    {% csrf_token %}
<div class="postinfotop">
<h2>Create New Account</h2>
</div>

<!-- acc section -->
<div class="accsection">
<div class="acccap">
<div class="clearfix"></div>
</div>
<div class="topwrap">
<div class="userinfo pull-left">
<div class="avatar">
</div>
<div>
</div>
</div>
<div class="posttext pull-left">
<div class="row">
    <div class="col-lg-6 col-md-6">
        {{form.email}}
    </div>
    <div class="col-lg-6 col-md-6">
        {{form.phone}}
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-md-6">
        {{form.password}}
    </div>
    <div class="col-lg-6 col-md-6">
        {{form.repeatpassword}}
    </div>
</div>

</div>
<div class="clearfix"></div>
</div>  
</div><!-- acc section END -->







<div class="postinfobot">

<div class="notechbox pull-left">
<input type="checkbox" name="note" id="note" class="form-control">
</div>

<div class="pull-left lblfch">
<label for="note"> I agree with the Terms and Conditions of this site</label>
</div>

<div class="pull-right postreply">
<div class="pull-left smile"><a href="#"><i class="fa fa-smile-o"></i></a></div>
<div class="pull-left"><button type="submit" class="btn btn-primary">Sign Up</button></div>
<div class="clearfix"></div>
</div>


<div class="clearfix"></div>
</div>
</form>
</div>
</div>
</div>
</div>

</section>

{% endblock %}